/* ---------- Universal ---------- */

html {
    overflow: hidden;
    height: 100%;
}

body {
    box-sizing: border-box;
    background-color: darkslategrey;
    color: seashell;
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
}



/* ---------- Banner ---------- */

.banner {
    background: linear-gradient(to bottom, rgba(47, 79, 79, 0) 40%,
    rgb(47, 79, 79)), url("./images/blue-ridge-banner.jpeg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 60em;
    width: auto;
    position: relative;
}



/* ---------- Nav Hamburger ---------- */

.dropbtn {
    background-color: whitesmoke;
    border: none;
    font-size: 25px;
    text-align: center;
    border-radius: .2em;
    cursor: pointer;
    width: 3em;
    margin: 3em;
    opacity: 0.7;
    transition: opacity 1s;
    position: relative;
    z-index: 1;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.5s;
    position: absolute;
    right: 2.5em;
    background-color: #f9f9f9;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -3.5em;
    text-align: center;
    border-radius: .5em;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 1.25em;
  }
  
  .dropdown-content a:hover {
      background-color: lightblue;
      transition: background-color .5s;
    }

  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 0.8;
    transition: visibility 1s linear .5s;
    }

  .dropdown:hover .dropbtn {
      opacity: 1;
      transition: opacity 1s;
    }


/* ----------Titles---------- */

h1 {
    text-align: center;
    font-size: 8em;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


h2 {
    text-align: center;
    font-size: 4em;
    margin-top: 2em;
    color: turquoise;
}

.pulsate {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.3;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
}

/* ----------Featured Projects & Skills---------- */

.recent-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recent-projects a {
  font-size: 1.5em;
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  transition: transform 1s, color 1s;
}

.recent-projects a:hover {
  color: lightsalmon;
  transform: scale(1.3);
  opacity: 1;
  transition: transform 1s, color 1s;
  cursor: pointer;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8em auto;
}

.text {
  text-align: center;
  margin-top: -2em;
  font-size: 1.5em;
}

.skillbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 20em;
  width: 20em;
  padding: 4em;
  transition: transform 250ms;
}

svg:hover {
  transform: translateY(-10px);
}



/* ----------Footer---------- */

#social_icon_footer {
  text-align: center;
  padding: 130px 110px;
  background-image: url("./images/footer-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: relative;
}

#social_icon_footer a {
  float: right;
  position: relative;
  color: lightyellow;
  padding: 12px;
  bottom: -2em;
}

#social_icon_footer .social:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}

#social_icon_footer .social {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#social_icon_footer #social-gh:hover {
  color: #000000;
}

#social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#social_icon_footer #social-li:hover {
  color: #007bb6;
}

#social_icon_footer #social-em:hover {
  color: #d34836;
}


/* ----------Contact Form---------- */

.contact-photo {
  border-radius: 50%;
  position: relative;
  bottom: -3em;
  z-index: -1;
  transform: rotate(-15deg);
  opacity: 0.7;
  height: 20em;
}

.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  margin: 0 3em;
  text-align: center;
}

form {
  padding: 8em 2em;
}

.contact-form {
  margin: auto;
  max-width: 800px;
}

.feedback-input {
  color:white;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}

[type="submit"]:hover { 
  background:#CC4949; 
}




/* ----------Mobile View---------- */

@media screen and (max-width: 1400px) {
    h1 {
      font-size: 8em;
      text-align: center;
    }

    h2 {
      font-size: 4em;
    }


    .recent-projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: .5em;
    }

    .skills {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4em;
    }

    svg {
      margin: 0;
    }
}

@media only screen and (max-width: 965px) {
  body {
    overflow-x: hidden;
  }
 
  h1 {
    font-size: 5em;
    top: 4em;
  }

  .banner {
    height: 50em;
  }
}

@media screen and (max-width: 645px) {
   h1 {
    font-size: 4em;
    top: 5em;
  }

  .recent-projects a {
    padding: 0 1em;
  }

  .contact-title {
    font-size: 3em;
  }
}

@media screen and (max-width: 495px) {
  .dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 2.5em;
    top: 6em;
  }

  h2 {
    font-size: 3em;
  }

  .banner {
    height: 40em;
  }

  .recent-projects a {
    padding: 0 1em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-title {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 375px) {
  .recent-projects a {
    padding: 0 1em;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  #social_icon_footer a {
    padding: 10px;
  }

  .contact-title {
    font-size: 2em;
  }
}