/* ---------- Universal ---------- */
html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
    box-sizing: border-box;
    color: darkslategray;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

/* ----------section-1---------- */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
}

#first {
  background-color: #E7F0EB;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15em;
}

.stage img {
  border-radius: 50%;
  margin-top: -8em;
  height: 20em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .5s;
}

.stage img:hover {
  transform: rotate(-15deg);
  transition: transform .5s;
}

.down-arrow {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 4em;
  cursor: pointer;
  text-decoration: none;
  color: darkslategray;
}

.down-arrow:hover {
  color: silver;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

/* ----------section-2---------- */

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Codystar', cursive;
  background: linear-gradient(to bottom, #E7F0EB, #CFE1D7);
  width: 100%;
}

#second {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 2em;
  padding: 14em 0;
  margin-top: -12em;
}

#second img {
  height: 18em;
  width: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .5s;
}

#second img:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

#second-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 2em;
  padding: 8em 0;
}

#second-2 img {
  height: 18em;
  width: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transform .5s;
}

#second-2 img:hover {
  transform: scale(1.1);
  transition: transform .5s;
}


/* ----------section-3---------- */

#third {
  background: linear-gradient(to bottom, #CFE1D7, #57B6B2);
  width: 100%;
}

#third h1 {
  margin-top: 4em;
  font-family: 'Codystar', cursive;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.skills-container svg {
  height: 18em;
  width: 100%;
}

.skills-container svg:hover {
  animation: bounce;
  animation-duration: 1s;
  cursor: pointer;
}

/* ----------section-4---------- */
#fourth {
  background: linear-gradient(to bottom, #57B6B2, #23565F);
  width: 100%;
}

/* ----------section-5---------- */
#fifth {
  background: linear-gradient(to bottom, #23565F, #1C4650);
  width: 100%;
}

/* ----------Footer---------- */

footer {
  position: fixed;
  bottom: 0;
}
  
.footer-background {
  text-align: center;
  background-image: url("./images/footer-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

#social_icon_footer {
  display: flex;
  justify-content: end;
  left: -3em;
  bottom: -13em;
}

#social_icon_footer a {
  position: relative;
  color: seashell;
  padding: 12px;
}

#social_icon_footer .social:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}

#social_icon_footer .social {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#social_icon_footer #social-gh:hover {
  color: #000000;
}

#social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#social_icon_footer #social-li:hover {
  color: #007bb6;
}

#social_icon_footer #social-em:hover {
  color: #d34836;
}


/* ----------Mobile View---------- */

@media screen and (max-width: 375) {

}