/* ---------- Universal ---------- */
html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
    box-sizing: border-box;
    background-color: rgba(47, 79, 79, 0.9);
    color: seashell;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

/* ----------section-1---------- */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15em;
}

.stage img {
  border-radius: 50%;
  margin-top: -8em;
  height: 20em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .5s;
}

.stage img:hover {
  transform: rotate(-15deg);
  transition: transform .5s;
}

.down-arrow {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 4em;
  cursor: pointer;
  text-decoration: none;
  color: seashell;
}

.down-arrow:hover {
  color: silver;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

/* ----------section-2---------- */

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#second {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 2em;
  padding: 8em;
}

#second img {
  height: 20em;
  width: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .5s;
}

#second img:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

#second-2 {
  padding-bottom: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  gap: 2em;
  padding: 8em;
}

#second-2 img {
  height: 20em;
  width: 100%;
  border-radius: .75em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: transform .5s;
}

#second-2 img:hover {
  transform: scale(1.1);
  transition: transform .5s;
}


/* ----------Footer---------- */

footer {
  position: fixed;
  bottom: 0;
}
  
.footer-background {
  text-align: center;
  background-image: url("./images/footer-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

#social_icon_footer {
  margin: 2em;
  bottom: -11em;
  position: relative;
}

#social_icon_footer a {
  float: right;
  position: relative;
  color: lightyellow;
  padding: 12px;
}

#social_icon_footer .social:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
}

#social_icon_footer .social {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#social_icon_footer #social-gh:hover {
  color: #000000;
}

#social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#social_icon_footer #social-li:hover {
  color: #007bb6;
}

#social_icon_footer #social-em:hover {
  color: #d34836;
}


/* ----------Contact Form---------- */

.contact-background {
  background-image: url(./images/contact-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10%;
}

.contact-title {
  margin: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 4em;
  text-align: center;
  width: 60%;
  padding-top: 3em;
}

.contact-form {
  margin: auto;
  max-width: 800px;
}

form {
  padding: 10em 2em;
}

::placeholder{
  color: lightgray;
}

.feedback-input {
  color: seashell;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 3px solid silver;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { 
  border:2px solid darkcyan; 
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: silver;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}

[type="submit"]:hover { 
  background:darkcyan; 
}

/* ----------Mobile View---------- */

